:root{
    --primary-clr: #c80037;
    --secondary-clr:#00141e;
    --tetiary-clr:#0f2d37;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--tetiary-clr);
    color: white;
}

.container{
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}
span{
    color: var(--primary-clr);
}

header{
    padding: 10px;
}
.bi-person{
    font-size: 30px;
    color: var(--primary-clr);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--secondary-clr);
    margin-bottom: 10px;
    border-radius: 10px;
}

.second-nav h4{
    position: relative;
    padding: 8px 10px;
    cursor: pointer;
}

.second-nav h4::before{
    display: none;
    position: absolute;
    height: 3px;
    width: calc(100% - 16px);
    margin: 0 auto;
    bottom: 0;
    background-color: var(--primary-clr);
    content: "";
}
h4.current::before{
    display: block;
}

.play-reset-reshuffle-teams div{
    background-color: var(--primary-clr);
    padding: 5px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.end{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    
    border-bottom: 1px solid --tetiary-clr;
}
.finished{
    color: #c8cdcd;
    font-size: 14px;
}

.fixture{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #001e28;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.animation.fixture{
    animation: animation 4s forwards;
}

@keyframes animation {
    0%{
        opacity: 0;
        transform: translate(-50%);
    }
    70%{
        opacity: 1;
        transform: translate(0);
    }
}

.club{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.score{
    transition: all 1000ms ease-in-out;
}